<div class="container col-sm-10 well-sm">

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-9">{{ data.details._username }}</td>
 
        <th><a class="btn btn-outline-info btn-block" role="button">edit</a></th>

      </tr>
      <tr>
        <td class="col-sm-9">Password</td>
        <th><a class="btn btn-outline-info btn-block" role="button">edit</a></th>
      </tr>
      <tr>
        <td class="col-sm-9">{{ data.details.fName }} {{ data.details.lName }}</td>

        <th><a class="btn btn-outline-info btn-block" role="button">edit</a></th>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>DELETE ACCOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-9">Warning! Deleting account is not recoverable!</td>
        <th><a class="btn btn-outline-info btn-block" role="button">delete</a></th>
      </tr>

    </tbody>
  </table>
</div>
